@(title: String, name: String, description: String, currentApp: TestApp)

<!DOCTYPE html>
<html>
    <head>
        @tags.styles()
    <title>@title</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".repose-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            <div class="nav-collapse collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/<%= data[:application] %>/tests">Running Tests</a></li>
                    <li><a href="@routes.Apps.applicationSubApps(currentApp.id)">Applications</a></li>
                    <li><a href="/<%= data[:application] %>/results">Results</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h1>@name</h1>
                <p>@description</p>
            </div>

            <div class="body-content">

                    <!-- Example row of columns -->
                <div class="row">
                    <div class="col-lg-4">
                        <h2>Applications</h2>
                        <p>Applications can be configured by users.  You can view application setup here and can set up/edit/delete your application.</p>
                        <p><a class="btn btn-default" href="/<%= data[:application] %>/applications">
                            View details &raquo;</a></p>
                    </div>
                    <div class="col-lg-4">
                        <h2>Results</h2>
                        <p>Historical results per application can be found here.</p>
                        <p><a class="btn btn-default" href="/<%= data[:application] %>/results">
                            View details &raquo;</a></p>
                    </div>
                    <div class="col-lg-4">
                        <h2>Running tests</h2>
                        <p>Check out which tests are running and results.</p>
                        <p><a class="btn btn-default" href="/<%= data[:application] %>/tests">View details &raquo;</a></p>
                    </div>
                </div>

                <hr>

                <footer>
                    <p>&copy; Rackspace Hosting 2013</p>
                </footer>
            </div>

        </div> <!-- /container -->
        @tags.javascripts()
    </body>
</html>
