@(app: TestApp, subApp: SubTestApp, requestResponseList: List[RequestResponseData], configList: Map[String, TestConfig])

<!DOCTYPE html>
<html>
    <head>
        <title>@app.name - Applications = @subApp.name</title>
        @tags.styles()
        </head>
    <body>
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".repose-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Apps.applicationDetails(app.id)">@app.name</a>
                <div class="navbar-collapse collapse repose-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/<%= application %>/tests">Running Tests</a></li>
                        <li class="active"><a href="@routes.Apps.applicationSubApps(app.id)">Applications</a></li>
                        <li><a href="@routes.Apps.allResults(app.id)">Results</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="@routes.Apps.applicationDetails(app.id)">Home</a></li>
                <li><a href="@routes.Apps.applicationSubApps(app.id)">Applications</a></li>
                <li class="active">@subApp.id</li>
            </ul>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Requests and responses</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Request</th>
                            <th>Response</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(test <- requestResponseList) {
                            <tr>
                                <td> @test.request.method @test.request.uri @test.request.headers
                                    <pre class="prettyprint linenums languague-css"><!-- -->@test.request.body<!-- --></pre>
                                </td>
                                <td>@test.response.responseCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Configurations - NOT YET IMPLEMENTED</h3>
                </div>
                <div class="accordion" id="config-accordion">
                    @for(config <- configList) {
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#config-accordion" href="#<%= key %>">
                                <%= key %></a>
                            </div>
                            <div id="<%= key %>" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <pre class="prettyprint linenums languague-css"><!-- --><%= config %><!-- --></pre>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Test Setup - LOL NOT YET IMPLEMENTED</h3>
                </div>
                <div class="row">
                    <label for="testLocation" class="col-lg-2 control-label">Test Location</label>
                    <% test_location_list.each do |test_location| %>
                    <div class="col-lg-10">
                        <a href="/<%= application %>/applications/<%= sub_app_id %>/test_download/<%= test_location.type %>">
                            <%= test_location.type %></a>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <hr>
        @tags.footer_goodies()
        @tags.javascripts()
        <script>
        $(function () {
            window.prettyPrint && prettyPrint()
            $(".accordion-toggle").collapse();
        })
    </script>
    </body>
</html>
